# ============================================================
# Python
# ============================================================

.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo

# ============================================================
# Environment / secrets
# ============================================================

.env
.env.*
.streamlit/secrets.toml

# ============================================================
# Spark
# ============================================================

checkpoints/
data/processed/waste_sensor/
*.crc

# ============================================================
# Generated / build files
# ============================================================

.dist/
build/
dist/
*.egg-info/

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# OS files
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Logs
# ============================================================

*.log
logs/

# ============================================================
# Temporary files
# ============================================================

*.tmp
*.temp